* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-container { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

input[type="number"] {
  background-color: #44475a;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  width: 60%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #50fa7b;
  border: none;
  border-radius: 4px;
  color: #282c34;
  cursor: pointer;
  padding: 10px;
  margin: 10px 0;
  width: 60%;
}

button:hover {
  background-color: #5af78e;
}

p {
  margin: 10px 0;
}

#hitting_time {
  text-align: center;
  font-weight: bold;
}

#mixing_time {
  text-align: center;
  font-weight: bold;
}